.loginBox {
  max-width: 100%;
  width: 500px;
}

.orderBox {
  max-width: 90%;
  width: 1000px;
}

.statisticsBox {
  max-width: 90%;
  width: 90%;
}

.stretch input {
  width: 100%
}

md-checkbox {
  margin-top: 10px !important;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important;
}

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem;
}

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.fix-fab {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute;
  background-color: transparent !important;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

md-toast {
  padding-top: 50px !important;
}

md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68) !important;
  height: 36px;
}

md-grid-tile-footer figcaption {
  width: 100%;
}

md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-left: -2px !important;
}

div.md-dialog-container {}

md-dialog {}
