<md-content laout="column" flex ng-init="loadEvents()">
  <md-card>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>Lista de Eventos</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="loadEvents()">
          <md-icon md-font-set="material-icons"> refresh </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected">
        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>

            <th md-column md-order-by="name"><span>Nombre</span></th>
            <th md-column md-order-by="start_date"><span>Fecha Inicio</span></th>
            <th md-column md-order-by="start_time"><span>Hora Inicio</span></th>
            <th md-column md-order-by="finish_date"><span>Fecha Fin</span></th>
            <th md-column md-order-by="finish_time"><span>Hora Fin</span></th>
            <th md-column md-order-by="location"><span>Ubicacion</span></th>
            <th md-column md-order-by="place"><span>Lugar</span></th>
            <th md-column ng-hide="role === 'asesor'"><span>Acciones</span></th>

          </tr>
        </thead>
        <md-progress-linear md-mode="indeterminate" ng-show="showload"></md-progress-linear>
        <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="event in events | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
            <td md-cell>{{event.name}}</td>
            <td md-cell>{{event.start_date}}</td>
            <td md-cell>{{event.start_time}}</td>
            <td md-cell>{{event.finish_date}}</td>
            <td md-cell>{{event.finish_time}}</td>
            <td md-cell>{{event.location}}</td>
            <td md-cell>{{event.place}}</td>
            <td md-cell>
              <a ui-sref="dashboard.events.edit({eventId: event.id})">
                <md-button class="md-icon-button">
                  <md-icon md-font-set="material-icons"> mode_edit </md-icon>
                </md-button>
              </a>
              <!--<md-button class="md-icon-button" ng-click="cancelEvent($event, event.id, event.name)">
                <md-icon md-font-set="material-icons"> delete_forever </md-icon>
              </md-button>-->
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{events.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</md-content>

<md-content>
  <a ui-sref="dashboard.events.new">
    <md-button class="md-fab md-fab-bottom-right" ng-click="">
      <md-icon md-font-set="material-icons"> event_note </md-icon>
    </md-button>
  </a>
</md-content>
