<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <div layout="row">
      <div hide-gt-md flex>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()" ng-hide="isOpenRight()">
          <md-icon md-font-set="material-icons" style="color: white;"> menu </md-icon>
        </md-button>
      </div>
    </div>

    <h2>
      <span>Bodega Uninorte</span>
    </h2>

    <span flex></span>


    <div hide show-gt-md>

      <a ui-sref="dashboard.statistics" ng-hide="role === 'asesor' || role === 'bodega' || role === 'admin'">
        <md-button> Estadistica </md-button>
      </a>


      <a ui-sref="dashboard.users" ng-hide="role === 'asesor' || role === 'bodega' || role === 'asistente'">
        <md-button> Usuarios </md-button>
      </a>


      <a ui-sref="dashboard.orders" ng-hide="role === 'admin'">
        <md-button> Pedidos </md-button>
      </a>

      <a ui-sref="dashboard.orders.return" ng-show="role === 'bodega' || role === 'asistente' || role === 'asesor'">
        <md-button> Devoluciones </md-button>
      </a>

      <a ui-sref="dashboard.events" ng-hide="role === 'admin'">
        <md-button> Eventos </md-button>
      </a>

      <a ui-sref="dashboard.inventory" ng-show="role === 'bodega' || role === 'asistente'">
        <md-button> Inventario </md-button>
      </a>

      <md-button ng-click="logout()">
        Cerrar Sesión
      </md-button>

    </div>

  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">

  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-content ng-controller="SidenavCtrl">

    <md-list flex>

      <md-list-item ng-click="goTo('dashboard.statistics')" ng-hide="role === 'asesor' || role === 'bodega' || role === 'admin'">
        <md-icon md-font-set="material-icons"> show_chart </md-icon>
        <p> Estadisticas </p>
      </md-list-item>

      <md-list-item ng-click="goTo('dashboard.users')" ng-hide="role === 'asesor' || role === 'bodega' || role === 'asistente'">
        <md-icon md-font-set="material-icons"> people </md-icon>
        <p> Usuarios </p>
      </md-list-item>

      <md-list-item ng-click="goTo('dashboard.orders')" ng-hide="role === 'admin'">
        <md-icon md-font-set="material-icons"> local_grocery_store </md-icon>
        <p> Pedidios</p>
      </md-list-item>

      <md-list-item ng-click="goTo('dashboard.orders.return')" ng-show="role === 'bodega' || role === 'asistente' || role === 'asesor'">
        <md-icon md-font-set="material-icons"> assignment_return </md-icon>
        <p> Devoluciones</p>
      </md-list-item>


      <md-list-item ng-click="goTo('dashboard.events')" ng-hide="role === 'admin'">
        <md-icon md-font-set="material-icons"> event </md-icon>
        <p> Eventos </p>
      </md-list-item>

      <md-list-item ng-click="goTo('dashboard.inventory')" ng-show="role === 'bodega' || role === 'asistente'">
        <md-icon md-font-set="material-icons"> content_paste </md-icon>
        <p> Inventario </p>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item ng-click="logout()">
        <md-icon md-font-set="material-icons"> exit_to_app </md-icon>
        <p> Cerrar Sesión </p>
      </md-list-item>

      <md-list-item ng-click="close()">
        <md-icon md-font-set="material-icons"> clear </md-icon>
        <p> Cerrar Menu </p>
      </md-list-item>

    </md-list>

  </md-content>

</md-sidenav>
