<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <div layout="row">
      <div hide-gt-sm flex>
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <i class="material-icons" style="color: white;"">menu</i>
        </md-button>
      </div>        
    </div>    

    <h2>
      <span>Bodega Uninorte</span>
    </h2>

    <span flex></span>


    <div hide show-gt-sm>


      <!--
      <md-button class="md-icon-button" aria-label="Favorite">
        <i class="material-icons">favorite</i>
      </md-button>

      <md-button class="md-icon-button" aria-label="More">
        <i class="material-icons">more_vert</i>
      </md-button>
      -->


    </div>

  </div>
</md-toolbar>