<md-content layout="column" flex>

  <md-card>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>Lista de Pedidos {{name}}</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="loadOrders()">
          <md-icon md-font-set="material-icons"> refresh </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected">
        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>

            <th md-column md-numeric md-order-by="id"><span>Id</span></th>
            <th md-column md-order-by="client_name"><span>Nombre Solicitante</span></th>
            <th md-column md-order-by="event_name"><span>Evento</span></th>
            <th md-column md-order-by="order_status"><span>Estado</span></th>
            <th md-column><span>Acciones</span></th>

          </tr>
        </thead>
        <md-progress-linear md-mode="indeterminate" ng-show="showload"></md-progress-linear>
        <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="order in orders | filter: itemName | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
            <td md-cell>{{order.id}}</td>
            <td md-cell>{{order.name_client}}</td>
            <td md-cell>{{order.event_name}}</td>
            <td md-cell>{{order.order_status}}</td>
            <td md-cell>
              <a ui-sref="dashboard.orders.view({orderId: order.id})">
                <md-button class="md-icon-button">
                  <md-icon md-font-set="material-icons"> remove_red_eye </md-icon>
                </md-button>
              </a>
              <a ui-sref="dashboard.orders.edit({orderId: order.id})" ng-hide="role === 'asesor' || role === 'bodega'">
                <md-button class="md-icon-button">
                  <md-icon md-font-set="material-icons"> mode_edit </md-icon>
                </md-button>
              </a>
              <md-button class="md-icon-button" ng-click="deleteOrder(order.id)" ng-show="role === 'admin' || role === 'director'">
                <md-icon md-font-set="material-icons"> delete_forever </md-icon>
              </md-button>

            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{orders.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
    </md-table-pagination>

  </md-card>
</md-content>
