<md-content layout="column" flex>

  <md-card>

    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>Lista de Usuarios</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="loadUsers()">
          <md-icon md-font-set="material-icons"> refresh </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
      </div>
    </md-toolbar>

    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected">
        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>

            <th md-column md-order-by="email"><span>Email</span></th>
            <th md-column md-order-by="name"><span>Nombre</span></th>
            <th md-column md-order-by="type"><span>Tipo</span></th>
            <th md-column><span>Acciones</span></th>

          </tr>
        </thead>
        <md-progress-linear md-mode="indeterminate" ng-show="showload"></md-progress-linear>
        <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="user in users | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
            <td md-cell>{{user.email}}</td>
            <td md-cell>{{user.name}}</td>
            <td md-cell>{{user.type}}</td>
            <td md-cell>

              <a ui-sref="dashboard.users.edit({userId: user.id})">
                <md-button class="md-icon-button">
                  <md-icon md-font-set="material-icons"> mode_edit </md-icon>
                </md-button>
              </a>

              <md-button class="md-icon-button" ng-click="deleteUser($event, user.id, user.email)">
                <md-icon md-font-set="material-icons"> delete_forever </md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{users.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>
</md-content>

<md-content>
  <a ui-sref="dashboard.users.new">
    <md-button class="md-fab md-fab-bottom-right" ng-click="">
      <md-icon md-font-set="material-icons"> person_add </md-icon>
    </md-button>
  </a>
</md-content>
