<md-dialog aria-label="Nuevo Evento">
  <form name="newEventForm" ng-cloak ng-submit="createEvent(newevent)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Evento</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>     


      <div class="md-dialog-content">
        <md-input-container class="md-block">
            <label>Nombre</label>
            <md-icon md-font-set="material-icons"> person </md-icon>
            <input type="text" name="userName" ng-model="newevent.name" 
            required>
            <div ng-messages="newUserForm.userName.$error">
              <div ng-message="required">Campo requerido.</div>
              <div ng-message="minlength">Campo requerido.</div>
            </div>
        </md-input-container> 
        <md-input-container class="md-block">
            <label>Fecha de inicio</label>
            <md-datepicker name="initdate" ng-model="newevent.initdate" 
            required ></md-datepicker>

            <div ng-messages="newEventForm.initdate.$error">
              <div ng-message="valid">Ingrese una fecha valida porfavor</div>
              <div ng-message="required">Campo requerido</div>
              <div ng-message="mindate">Date is too early!</div>
              <div ng-message="maxdate">Date is too late!</div>
              <div ng-message="filtered">Only weekends are allowed!</div>
            </div>
        </md-input-container> 

        <md-input-container class="md-block">
            <label>Fecha de finalizacion</label>
            <md-datepicker name="enddate" ng-model="newevent.enddate" 
            required ></md-datepicker>

            <div ng-messages="newEventForm.enddate.$error">
              <div ng-message="valid">Ingrese una fecha valida porfavor</div>
              <div ng-message="required">Campo requerido</div>
              <div ng-message="mindate">Date is too early!</div>
              <div ng-message="maxdate">Date is too late!</div>
              <div ng-message="filtered">Only weekends are allowed!</div>
            </div>
        </md-input-container> 

        <div class="range layout-column flex-gt-md-30">
        <md-input-container class="md-input-has-placeholder">
          <label>Start Date/Time</label>
          <input mdc-datetime-picker="" date="true" time="true" type="text"
          placeholder="Date" max-date="dateTimeEnd" ng-model="newevent.dateTimeStart" class=" md-input"
          id="input_0">
        </md-input-container>
        <md-input-container class="md-input-has-placeholder">
          <label>End Date/Time</label>
          <input mdc-datetime-picker="" date="true" time="true" type="text"
          placeholder="Date" min-date="dateTimeStart"="dateTimeEnd" class=" md-input" id="input_1" ng-model="newevent.dateTimeEnd">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">      
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button type="submit" ng-disabled="!newEventForm.$valid">
        Crear Evento
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>