<!--<div orders-directive></div>-->

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
      <md-tab data-ng-if="role !== 'bodega'">
        <md-tab-label>
          <md-icon md-font-set="material-icons"> home </md-icon> <span hide show-gt-sm>Todos</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="all" name=""></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
      <md-tab data-ng-if="role !== 'bodega'">
        <md-tab-label>
          <md-icon md-font-set="material-icons"> access_time </md-icon> <span hide show-gt-sm>Pendientes</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="pendingOrders" name="'Pendientes'"></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-font-set="material-icons"> done </md-icon> <span hide show-gt-sm>Aprobados</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="approveOrders" name="'Aprobados'"></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-font-set="material-icons"> done_all </md-icon> <span hide show-gt-sm>Entregados</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="deliverOrders" name="'Entregados'"></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
      <md-tab data-ng-if="role !== 'bodega'">
        <md-tab-label>
          <md-icon md-font-set="material-icons"> cancel </md-icon> <span hide show-gt-sm>Cancelados</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="cancelOrders" name="'Cancelados'"></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
      <md-tab data-ng-if="role !== 'bodega'">
        <md-tab-label>
          <md-icon md-font-set="material-icons"> block </md-icon> <span hide show-gt-sm>Rechazados</span>
        </md-tab-label>
        <md-tab-body>
          <ordersstatus-directive orders="rejectOrders" name="'Rechazados'"></ordersstatus-directive>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<div layout="column" ng-cloak ng-hide="role === 'bodega'">
  <md-content class="md-padding fix-fab" layout="column">

    <div layout="row" layout-align="end end">
      <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-accent">
            <md-icon md-font-set="material-icons"> add </md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <a ui-sref="dashboard.orders.new">
            <md-button aria-label="Nuevo Pedido" class="md-fab md-raised md-mini">
              <md-icon md-font-set="material-icons"> add_shopping_cart </md-icon>
            </md-button>
          </a>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>

  </md-content>
</div>
