<div ng-cloak ng-init="initTable();loadOrders();">
  <md-content>
    <md-tabs md-dynamic-height md-stretch-tabs="always" md-border-bottom>
      <md-tab>
        <md-tab-label>
          <md-icon md-font-set="material-icons">timelapse</md-icon> <span hide show-gt-sm>Pedidos con devoluciones pendientes</span>
        </md-tab-label>
        <md-tab-body>
          <return-directive orders="ordersPending" name="'Pedidos con devoluciones pendientes'" showload="showloadPending" type="1"></return-directive>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-font-set="material-icons"> done_all </md-icon> <span hide show-gt-sm>Pedidos Regresados completamente</span>
        </md-tab-label>
        <md-tab-body>
          <return-directive orders="ordersDone" name="'Pedidos Regresados completamente'" showload="showloadDone" type="2"></return-directive>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-font-set="material-icons"> timeline </md-icon> <span hide show-gt-sm>Historico de devoluciones</span>
        </md-tab-label>
        <md-tab-body>
          <md-content layout="column" flex hide show-gt-sm>

            <md-card>

              <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                  <span>{{name}}</span>
                  <div flex></div>
                  <md-button class="md-icon-button" ng-click="getDevolution()">
                    <md-icon md-font-set="material-icons"> refresh </md-icon>
                  </md-button>
                </div>
              </md-toolbar>

              <md-progress-linear md-mode="indeterminate" ng-show="showloadDevolution"></md-progress-linear>

              <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected">
                  <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                      <th md-column md-order-by="order.id"><span>Id pedido</span></th>
                      <th md-column md-order-by="order.name_client"><span>Nombre Solicitante</span></th>
                      <th md-column md-order-by="date_in"><span>Fecha</span></th>
                      <th md-column md-order-by="item.name"><span>Articulo</span></th>
                      <th md-column md-order-by="number"><span>Cantidad devuelta</span></th>
                      <th md-column><span>Comentarios</span></th>

                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="devolution in devolutions | filter: itemName | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                      <td md-cell>{{devolution.order.id}}</td>
                      <td md-cell>{{devolution.order.name_client}}</td>
                      <td md-cell>{{devolution.date_in}}</td>
                      <td md-cell>{{devolution.item.name}}</td>
                      <td md-cell>{{devolution.number}}</td>
                      <td md-cell>{{devolution.comment}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>

              <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{devolutions.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
              </md-table-pagination>

            </md-card>
          </md-content>

          <md-content hide-gt-sm>
            <md-toolbar hide-gt-sm>
              <div layout="row">
                <h2 class="md-toolbar-tools">
                  <span>Historico de devoluciones</span>
                  <span flex></span>
                  <md-button class="md-icon-button" ng-click="getDevolution()">
                    <md-icon md-font-set="material-icons"> refresh </md-icon>
                  </md-button>
                </h2>
              </div>
            </md-toolbar>
            <md-progress-linear md-mode="indeterminate" ng-show="showloadDevolution"></md-progress-linear>
            <md-list flex>
              <div ng-repeat="devolution in devolutions">

                <md-list-item class="md-2-line" class="noright" ng-click="null">
                  <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                  <md-icon md-font-set="material-icons" class="list-icon"> assignment_return </md-icon>
                  <div class="md-list-item-text" layout="column">

                    <h3>{{devolution.order.name_client}}</h3>
                    <h4>Regreso {{devolution.number}} unidades de devolution.item.name</h4>

                  </div>
                </md-list-item>

                <md-divider></md-divider>
              </div>
            </md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    </md-content>
</div>
