<div flex layout="column" layout-align="center center" class="text-center" ng-show="loandignData">
  <div>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
</div>

</br>

<div ng-hide="loandignData">
  <div layout="column" layout-align="center center" layout-fill class="">
    <div class="orderBox md-whiteframe-z1" layout="column">
      <md-toolbar>
        <div layout="row">
          <md-icon md-font-set="material-icons" style="padding: 0px 20px"> shopping_cart </md-icon>
          <h2 class="md-toolbar-tools"><span>Pedido</span></h2>
        </div>
      </md-toolbar>
      <md-content class="md-padding" layout="column">

        <md-input-container class="md-block">
          <label>Fecha pedido</label>
          <input type="text" name="orderName" ng-model="order.date_in" ng-disabled="true">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Nombre del solicitante</label>
          <input type="text" name="orderName" ng-model="order.name_client" ng-disabled="true">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Evento</label>
          <input type="text" name="orderName" ng-model="order.event_name" ng-disabled="true">
        </md-input-container>

        <md-content laout="column" flex ng-show="order.items.length > 0">

          <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
              <div class="md-toolbar-tools">
                <span>Articulos del pedido</span>
                <div flex></div>
              </div>
            </md-toolbar>

            <md-table-container>
              <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr md-row>

                    <th md-column md-order-by="id"><span>Id</span></th>
                    <th md-column md-order-by="name"><span>Nombre</span></th>
                    <th md-column><span>Cantidad solicitada</span></th>
                    <th md-column ng-if="order.type != 'consumible'"><span>Fecha de devolucion</span></th>
                    <th md-column ng-if="order.type != 'consumible'"><span>Cantidad devuelta</span></th>
                    <th md-column><span>Regresar</span></th>
                    </th>

                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="item in order.items | filter: itemName | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">

                    <td md-cell>{{item.id}}</td>
                    <td md-cell>{{item.name}}</td>
                    <td md-cell>{{item.pivot.number}}</td>
                    <td md-cell ng-if="order.type != 'consumible'">{{item.pivot.date}}</td>
                    <td md-cell ng-if="order.type != 'consumible'">{{item.pivot.number_return}}</td>
                    <td md-cell>
                      <md-button class="md-icon-button" ng-click="openAddNumber($event, item, order)">
                        <md-icon md-font-set="material-icons"> add </md-icon>
                      </md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{order.items.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
            </md-table-pagination>

          </md-card>
        </md-content>

        <div layout="row" layout-aling="center center" style="padding-top:20px;">
          <a ui-sref="dashboard.orders.return.index">
            <md-button class="md-raised md-accent">
              <md-icon md-font-set="material-icons"> keyboard_backspace </md-icon>
              Volver
            </md-button>
          </a>
          <div flex></div>
        </div>

      </md-content>
    </div>
  </div>
</div>
